<form method="post" action="{{ path('bibliotheque_recherche_delete', {'id': bibliotheque_recherche.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bibliotheque_recherche.id) }}">
    <button class="btn">Delete</button>
</form>
