{% extends 'base.html.twig' %}

{% block title %}New BibliothequeRecherche{% endblock %}

{% block body %}
    <h1>Create new BibliothequeRecherche</h1>

    {{ include('bibliotheque_recherche/_form.html.twig') }}

    <a href="{{ path('bibliotheque_recherche_index') }}">back to list</a>
{% endblock %}
