{% extends 'base.html.twig' %}

{% block title %}New AgriFinanceStructure{% endblock %}

{% block body %}
    <h1>Create new AgriFinanceStructure</h1>

    {{ include('agri_finance_structure/_form.html.twig') }}

    <a href="{{ path('agri_finance_structure_index') }}">back to list</a>
{% endblock %}
