{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}



<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-lg-5 py-sm-3">
		<h3 class="heading mb-sm-5 mb-4 text-center"> A PROPOS DE NOUS</h3>
		<div class="row">
			<div class="col-lg-12 pl-xl-5 mt-lg-0 mt-4 about-right">

				<p> Crée en 2019, la structure de vulgarisation, de transfert de technologie,
                     de conseils et de formation agricole Agrinet, est un groupe de conseils et de recherche, 
                     structuré en organisme privé. Il est spécialisé dans les activités de recherche,
                      de conseil et de transfert de technologie  au profit des agriculteurs.  </p>
                <p class="pt-3 mt-3 border-top"></p>

                <p> Conscient que toute avancée ne peut se justifier que sur la base des données montrant effectivement cette évolution, 
                    Agrinet trouve son fondement sur la recherche et l’analyse des données statistiques de ses producteurs. 
                    Nous suivons les exploitations familiales agropastorales dans leurs activités au quotidien ;
                     Nous recueillons auprès d’elles les données relatives à leur production ; 
                     nous menons des diagnostiques et analysons les données obtenues afin de mieux proposer des solutions pour améliorer leur production.  </p>
                <p class="pt-3 mt-3 border-top"></p>

                <p> La vulgarisation et le conseil agricoles jouent un rôle important dans le partage des résultats de la recherche et des innovations 
                    technologiques avec les exploitants familiaux.  Nous vulgarisons auprès de nos producteurs toutes avancées de technologie approuvée
                     dans le domaine agropastorale (nouvelles semences, aliment, engrais, produits phytosanitaire, pour un meilleur rendement,
                      matériels réduisant la force de travail, technologies innovantes…) afin de leur apporter l’encadrement nécessaire à l’amélioration de leur productivité et à l’accroissement de leurs revenus..  </p>
                <p class="pt-3 mt-3 border-top"></p>

                <p> L’équipe réalise des œuvres de vulgarisation originales (livres, articles, expositions...), vulgarise des travaux existants 
                    (atelier de travail et organisation de conférences...) et mène des actions de formation, de sensibilisation et de conseil. 
                    Ses projets sont souvent réalisés en partenariat avec des organismes publics ou privés..  </p>
                   <p class="pt-3 mt-3 border-top"></p>
                   
                   <span class="heading fa fa-quote-left text-color mr-2 "><strong class="textePer"></span>Nos Valeurs</p></strong>
                   <p> Toute activité de Agrinet se fonde sur un certain nombre de valeurs, qui déterminent ses choix et animent sa démarche. 
                       Des valeurs qui lui permettent de produire, transmettre, évoluer dans le respect de l’acquis, la constance de la compétence. </p>
                       <p class="pt-3 mt-3 border-top"></p>

                    <span class="heading fa fa-quote-left text-color mr-2 "><strong class="textePer"></span>Le partage</p></strong>
                   <p> Une valeur fondatrice pour Agrinet. Chacune de ses actions s’inscrit dans le sens du partage des expériences, 
                       du transfert des compétences, connaissances et technologie en faveurs des agriculteurs. . </p>
                       <p class="pt-3 mt-3 border-top"></p>

                    <span class="heading fa fa-quote-left text-color mr-2 "><strong class="textePer"></span>La qualité de la recherche </p></strong>
                   <p> Une exigence permanente pour contribuer efficacement à inventer les agricultures de demain : production, 
                       partage et transmission de connaissances. Un processus qui vise l’excellence. </p>
                       <p class="pt-3 mt-3 border-top"></p>

                    <span class="heading fa fa-quote-left text-color mr-2 "><strong class="textePer"></span>L’engagement pour le développement </p></strong>
                   <p> Une motivation profonde autour de laquelle se mobilise l’ensemble de l’organisation. </p>
                       <p class="pt-3 mt-3 border-top"></p>

                    <span class="heading fa fa-quote-left text-color mr-2 "><strong class="textePer"></span>Organisation</p></strong>
                   <p> Agrinet, regroupe des ingénieurs et des universitaires Camerounais issus de diverses spécialités de l’agronomie et de ses sciences connexes.
                        La pluridisciplinarité de l’équipe lui permet de s’adapter aux problématiques les plus diverses et garantit un travail de qualité, 
                        dans le strict respect des délais. </p>
                       <p class="pt-3 mt-3 border-top"></p>

            </div>
            
                <br>
        </div>

        <br>
        <div class ="container col-lg-12" ><img src="{{ asset('StyleAgrinet2/images/organigramme.jpg')}}" class="img-responsive img-for1"></div>
        <br>

        <div class="row">
                <div class="col-lg-12 pl-xl-5 mt-lg-0 mt-4 about-right">
                       
                       <span class="heading fa fa-quote-left text-color mr-2 "><strong class="textePer"></span>Stratégie d’actions</p></strong>
                       <p> Notre démarche est basée sur l’innovation méthodologique pour le renforcement des capacités des agriculteurs, 
                           la documentation des pratiques locales et l’information des politiques. </p>
                           <p class="pt-3 mt-3 border-top"></p>
    
                        <span class="heading fa fa-quote-left text-color mr-2 "><strong></span>Le partenariat et la mise en réseau</p></strong>
                       <p> Ils facilitent l’apprentissage mutuel, la mise en commun des expériences, 
                           la mise en synergie des compétences spécifiques des différents partenaires et contribuent 
                           à créer une grande valeur ajoutée dans les approches et les résultats. 
                           La mise en place de groupes d’apprentissage au niveau local et national constitue un mécanisme pour rendre effectif le réseautage.</p>
                           <p class="pt-3 mt-3 border-top"></p>
    
                        <span class="heading fa fa-quote-left text-color mr-2 "><strong></span>Le lien entre la recherche action et la formation</p></strong>
                       <p>Le renforcement des capacités des agriculteurs et leur participation dans la recherche action contribuent de trouver des solutions 
                           localement adaptées aux problèmes sur lesquels nous travaillons.</p>
                           <p class="pt-3 mt-3 border-top"></p>
    
                        <span class="heading fa fa-quote-left text-color mr-2 "><strong></span>L’information et la communication</p></strong>
                       <p>Dans une optique de développement participatif, l’information et la communication est un mécanisme pour renforcer la participation des communautés à la base à travers le développement de supports innovants et adaptés. -organisation des séminaires, 
                           colloques, journées portes ouvertes. -organisation campagnes de sensibilisation en milieu rural. </p>
                           <p class="pt-3 mt-3 border-top"></p>
                </div>
                
                    <br>
            </div>
        <div class ="container col-lg-12" ><img src="{{ asset('StyleAgrinet2/images/apropos.jpg')}}" class="img-responsive img-for1"></div>

	</div>

	</div>
</section>







	<!-- //footer -->

	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->


{% endblock %}
