{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}


<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<!-- //banner -->


<!-- Team -->
<section id="team">
    <div class="container">
        <div class="row">
			<div class="col-lg-12 pl-xl-5 mt-lg-0 pb-5 mt-4 about-right">
				<p style="color: #098a05;"> <span class="fa fa-quote-left text-danger text-color mr-2"></span>Produire, Recenser, analyser, vulgariser auprès des producteurs les technologies, les ressources génétiques,
					 les méthodes et procédés les plus
					innovants.<span class="fa fa-quote-right text-danger text-color mr-2"></span></p>
            </div>
            <div class="row col-md-9">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card rouge" style="background: rgb(191, 144, 0); height: 108px;">
                                    <div class="card-body text-center">
                                        <h4 class="card-title white-text" style="color:white;">Améliorer sa
                                                production agricole</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card" style="background: rgb(191, 144, 0); height: 108px;">
                                    <div class="card-body text-center">
                                        <h4 class="card-title titre">Améliorer sa
                                                production agricole
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card" style="background: rgb(112, 173, 71); height: 108px;">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">J’ai besoin des
                                                conseils</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card  vert" style="background: rgb(112, 173, 71); height: 108px;">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">J’ai besoin des
                                                conseils
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->

                <div class="row col-md-12 blocContent">

                    <div class="col-md-6 espaceGauche" style="border:1px solid #6c757dc7; background: #6c757dc7; ">
                        <div class="text-center" style="padding: 32px;">
                        <h4 class="text-white">VOUS ETES</h4>
                        </div> 
                        <div class="rond text-center">
                                <img src="{{asset('StyleAgrinet2/images/s3.jpg')}}" class="img-responsive " alt="">
                        </div>
                        <div class="text-center" style="padding: 26px;">
                        <h4 class="text-white">ACTEUR DU MONDE RURAL</h4>
                        </div>
                    </div>

                    <div class="col-md-6 espaceDroit" style="border:2px solid #6c757dc7;">
                        
                        <div class="text-center" style="padding: 78px;">
                            <hr class="trait">
                            <h5>CREEZ</h5>
                            <h3>VOTRE ESPACE</h3>
                            <h4>PROFESSIONNEL</h4>
                            <hr class="trait">
                        </div>
                        
                    </div>
                
                </div>
            </div>
	
            <!-- Team member --> 
            <div class="col-xs-12 col-sm-6 col-md-3">
				<div class="card" style="width: 18rem;">
					<div class="card-header bg-dark text-white">
						Actualités
					</div>
					<ul class="list-group list-group-flush tailleImgTextActu">
						{% for i in 0..3 %}
							<li class="list-group-item">
                                <a href="">
                                    <div class="container">
                                            <div class="row row-margin-bottom">
                                                <div class="col-md-12 no-padding lib-item" data-category="view">
                                                    <div class="lib-panel">
                                                        <div class="row box-shadow">
                                                            <div class="col-md-4 positionActuImg" >
                                                                <img class="lib-img-show imageActu" src="http://lorempixel.com/850/850/?random=123">
                                                            </div>
                                                            <div class="col-md-8 positionTexteActu">
                                                                <!-- <div class="lib-row lib-header">
                                                                    Example library
                                                                    <div class="lib-header-seperator"></div>
                                                                </div> -->
                                                                <div class="lib-row lib-desc">
                                                                    Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </a>
                            </li>
                        {% endfor %}  
					
						
					</ul>
				</div>
            </div>
            <!-- ./Team member -->
        </div>
       
    </div>
</section>
<!-- Team -->



	<!-- //footer -->

	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->

	















 

{% endblock %}
