{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}


<script src="{{asset('StyleAgrinet2/js/jquery.min.js')}}"></script>



<script src="{{asset('StyleAgrinet2/js/jquery-3.2.1.slim.min.js')}}"></script>

<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-lg-5 py-sm-3">
		<h3 class="heading mb-sm-5 mb-4 text-center"> PHYTOPHARMACIE</h3>
		<div class="row phyto_design">
           
                         <select class="form-control culture" >
                            <option>Cuture</option>
                            <option>Cuture1</option>
                          </select>
                          
                          <select class="form-control form-control-sm enemie">
                            <option>Enemie</option>
                            <option>Enemie2</option>
                          </select>
            
                          <select class="form-control form-control-sm Nom_commercial">
                            <option>Nom commercial</option>
                            <option>Nom commercial2</option>
                          </select>
            
                          <select class="form-control form-control-sm Sociéte">
                            <option>Sociéte</option>
                            <option>Sociéte2</option>
                            <option>Sociéte3</option>
                          </select>
            
                          <select class="form-control form-control-sm Matiere_Active">
                            <option>Matiere Active(Teneur)</option>
                            <option>Matiere Active2(Teneur)</option>
                          </select>
            
                          <select class="form-control form-control-sm Classe">
                            <option>Classe</option>
                            <option>Classe2</option>
                          </select>
            
              
            </div>
            
            <button class="btn btn-warning pull-left btn_desin_perso">Rechercher</button>
            <button class="btn btn-warning pull-right btn_desin_perso">Rafraichir</button>

            
        </div>
       
	</div>
</section>

<!-- feedback -->
<section class="news py-5">
	<div class="container ">
	
		<div class="row">
            
            
            <h3 class="heading mb-sm-5 mb-4 text-center"> PHYTOPHARMACIE</h3>

            <table class="table table-borded table-responsive table-striped table_phytopharmacie" id="table-list3">
                <thead class="table-dark">
                    <tr class="">
                        <td>culture</td>
                        <td>ennemi</td>
                        <td>Nom commercial</td>
                        <td>Matière active (teneur)</td>
                        <td>formulation</td>
                        <td>dose</td>
                        <td>Point de vente</td>
                    </tr>
                </thead>
                <tbody class="tab_new_style">
                    <tr class="ju">
                      
                        <td>culture</td>
                        <td>ennemi</td>
                        <td>Nom commercial</td>
                        <td>Matière active (teneur)</td>
                        <td>formulation</td>
                        <td>dose</td>
                        <td>Point de vente</td>
                             
                           
                     
                    </tr>
                    <tr class="ju">
                      
                            <td>culture</td>
                            <td>ennemi</td>
                            <td>Nom commercial</td>
                            <td>Matière active (teneur)</td>
                            <td>formulation</td>
                            <td>dose</td>
                            <td>Point de vente</td>
                                 
                               
                         
                        </tr>
                        <tr class="ju">
                      
                                <td>culture</td>
                                <td>ennemi</td>
                                <td>Nom commercial</td>
                                <td>Matière active (teneur)</td>
                                <td>formulation</td>
                                <td>dose</td>
                                <td>Point de vente</td>
                                     
                                   
                             
                            </tr>
                    
                </tbody>
               
                
            </table>
		
		</div>
	</div>
</section>
<!-- //feedback -->



	<!-- //footer -->

	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->
<script>
    $(document).ready(function(){
        $(".btn_desin_perso").click(function(){
            var culture=$(".culture").val();
            var enemie=$(".enemie").val();
            var Nom_commercial=$(".Nom_commercial").val();
            var Sociéte=$(".Sociéte").val();
            var Matiere_Active=$(".Matiere_Active").val();
            var Classe=$(".Classe").val();
        alert(culture);
        alert(enemie);
        alert(Nom_commercial);
        alert(Sociéte);
        alert(Matiere_Active);
        alert(Classe);

        
        });
       

$(".table_phytopharmacie > tbody > tr:last").css("background-color","red");
      
      
    });
</script>

{% endblock %}
