<form method="post" action="{{ path('agri_finance_categorie_delete', {'id': agri_finance_categories.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agri_finance_categories.id) }}">
    <button class="btn">Delete</button>
</form>
