{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}



<!-- banner -->
<div class="inner-banner" id="home">
    <div class="container">
    </div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5" id="about">
    <div class="container py-lg-5 py-sm-3">
        <h3 class="heading mb-sm-5 mb-4 text-center"> Nos Valeurs</h3>
        <div class="row">
            <div class="col-lg-12 pl-xl-5 mt-lg-0 mt-4 about-right">

                <p> Toute activité de Agrinet Farm se fonde sur un certain nombre de valeurs, qui déterminent ses choix et animent sa
                démarche. Des valeurs qui lui permettent de produire, transmettre, évoluer dans le respect de l’acquis, la constance de
                la compétence. </p>
                <p class="pt-3 mt-3 border-top"></p>

               

                <span class="heading fa fa-quote-left text-color mr-2 "><strong class="textePer"></span>Le partage</p>
                </strong>
                <p> Une valeur fondatrice pour Agrinet. Chacune de ses actions s’inscrit dans le sens du partage des
                    expériences,
                    du transfert des compétences, connaissances et technologie en faveurs des agriculteurs. . </p>
                <p class="pt-3 mt-3 border-top"></p>

                <span class="heading fa fa-quote-left text-color mr-2 "><strong class="textePer"></span>La qualité de la
                recherche </p></strong>
                <p> Une exigence permanente pour contribuer efficacement à inventer les agricultures de demain :
                    production,
                    partage et transmission de connaissances. Un processus qui vise l’excellence. </p>
                <p class="pt-3 mt-3 border-top"></p>

                <span class="heading fa fa-quote-left text-color mr-2 "><strong class="textePer"></span>L’engagement
                pour le développement </p></strong>
                <p> Une motivation profonde autour de laquelle se mobilise l’ensemble de l’organisation. </p>
               

            </div>

            <br>
        </div>

      

    </div>

    </div>
</section>







<!-- //footer -->

<!-- move top icon -->
<a href="#home" class="move-top text-center"></a>
<!-- //move top icon -->


{% endblock %}