{% extends 'default_base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<a href="/">Back to index</a>
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
{% endblock %}
