
<style>
    .newsletter {
        width: 100%!important;

        padding-top: 16px;
    }

    .newsletter a>img {
        width: 100%!important;
    }
</style>


<div class="newsletter">
    <!-- Revive Adserver Balise javascript - Generated with Revive Adserver v4.1.4 -->
   
    
    <a href="{{path('newsletters')}}"
        target="_blank">
    <img src="{{asset('StyleAgrinet2/images/ReadyDangerousBighorn-size_restricted.gif')}}"  alt="newsletter" title="newsletter" border="0" class="tie-appear">
</a>
    
</div>

