{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}



<!-- banner -->
<div class="inner-banner" id="home">
    <div class="container">
    </div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5" id="about">
    <div class="container py-lg-5 py-sm-3">
        <h3 class="heading mb-sm-5 mb-4 text-center"> Stratégie
        d’actions</h3>
        <div class="row">
            <div class="col-lg-12 pl-xl-5 mt-lg-0 mt-4 about-right">

                <p> Notre démarche est basée sur l’innovation méthodologique pour le renforcement des capacités des
                agriculteurs,
                la documentation des pratiques locales et l’information des politiques. </p>
                <p class="pt-3 mt-3 border-top"></p>

               

                <span class="heading fa fa-quote-left text-color mr-2 "><strong class="textePer"></span>Le partenariat et la mise en
                réseau</p>
                </strong>
                <p> facilitent l’apprentissage mutuel, la mise en commun des expériences,
                    la mise en synergie des compétences spécifiques des différents partenaires et contribuent
                    à créer une grande valeur ajoutée dans les approches et les résultats.
                    La mise en place de groupes d’apprentissage au niveau local et national constitue un mécanisme pour
                    rendre effectif le réseautage.</p>
                <p class="pt-3 mt-3 border-top"></p>

                           <span class="heading fa fa-quote-left text-color mr-2 "><strong></span>Le lien entre la recherche action
            et la formation</p></strong>
            <p>Le renforcement des capacités des agriculteurs et leur participation dans la recherche action
                contribuent de trouver des solutions
                localement adaptées aux problèmes sur lesquels nous travaillons.</p>
            <p class="pt-3 mt-3 border-top"></p>
            
            <span class="heading fa fa-quote-left text-color mr-2 "><strong></span>L’information et la communication
            </p></strong>
            <p>Dans une optique de développement participatif, l’information et la communication est un mécanisme
                pour renforcer la participation des communautés à la base à travers le développement de supports
                innovants et adaptés. -organisation des séminaires,
                colloques, journées portes ouvertes. -organisation campagnes de sensibilisation en milieu rural.
            </p>

            </div>

          
        </div>

        
        {% for photo in  strategie_action_imgs   %}
        <div class="container col-lg-12"><img src="{{ asset('uploads/') }}{{ photo.image }}"
                class="img-responsive img-for1"></div>
        {% endfor  %}

    </div>

    </div>
</section>







<!-- //footer -->

<!-- move top icon -->
<a href="#home" class="move-top text-center"></a>
<!-- //move top icon -->


{% endblock %}