{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}



<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-lg-5 py-sm-3">
		<h3 class="heading mb-sm-5 mb-4 text-center"> FORMATION ET EXPERTISE</h3>
		<div class="row">
			<div class="col-lg-12 pl-xl-5 mt-lg-0 mt-4 about-right">
				<p> En s’appuyant à la fois sur des compétences internes et 
                    sur un réseau d'intervenants extérieurs très expérimentés et spécialisés dans différents domaines d'expertise (Agronomie, Ingénierie de Formation, cartographie sous Système d'Information Géographique, météorologie, agro environnement, bio statistique...). Agrinet est  en mesure d’intervenir sur des problématiques 
                    très larges (scientifiques, statistiques, techniques...) couvrant l’ensemble du domaine Agropastoral et Rural.  </p>
				<p class="pt-3 mt-3 border-top"><span class="fa fa-quote-left text-color mr-2"></span>	SUIVI DE VOTRE EXPLOITATION AGROPASTORALE</p>
            </div>
            <div class ="col-lg-6" ><img src="{{ asset('StyleAgrinet2/images/for1.jpg')}}" class="img-responsive img-for1"></div>

            <div class ="col-lg-6"><img src="{{ asset('StyleAgrinet2/images/for2.jpg')}}" class="img-responsive img-for1"></div>


            <div class="col-lg-12 pl-xl-5 mt-lg-0 mt-4 about-right">
                    <p> A travers notre plateforme, nous recueillons les informations relatives à 
                        votre exploitation et sa production en temps réel. Nous faisons des analyses et diagnostique afin d’améliorer votre production lors des campagnes agricoles futures. Nous suivons vos activités quotidiennes afin de répondre promptement 
                        à vos préoccupations  grâce à nos conseils et appui techniques.</p>

                        <div class="row">
                                <div class="col-lg-6 item">
                                    <div class="feedback-info pt-5 pb-4 px-4 bloc2-elevage">
                                        <h3 class="mb-3">améliorer sa production agricole
                                        </h3>
                                        
                                        <div class="feedback-grids mt-3">
                                            
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>
                               
                            
                            </div>
                    
                      

                </div>
                <br>
                
                
        </div>
       

	</div>

	</div>
</section>







	<!-- //footer -->

	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->


{% endblock %}
