<form method="post" action="{{ path('montage_projet_delete', {'id': montage_projet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ montage_projet.id) }}">
    <button class="btn">Delete</button>
</form>
