{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}



<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-lg-5 py-sm-3">
		<h3 class="heading mb-sm-5 mb-4 text-center"> A PROPOS DE NOUS</h3>
		<div class="row">
			<div class="col-lg-12 pl-xl-5 mt-lg-0 mt-4 about-right">

				<p> Crée en 2019, la structure de vulgarisation, de transfert de technologie,
                     de conseils et de formation agricole Agrinet, est un groupe de conseils et de recherche, 
                     structuré en organisme privé. Il est spécialisé dans les activités de recherche,
                      de conseil et de transfert de technologie  au profit des agriculteurs.  </p>
                <p class="pt-3 mt-3 border-top"></p>

                <p> Conscient que toute avancée ne peut se justifier que sur la base des données montrant effectivement cette évolution, 
                    Agrinet trouve son fondement sur la recherche et l’analyse des données statistiques de ses producteurs. 
                    Nous suivons les exploitations familiales agropastorales dans leurs activités au quotidien ;
                     Nous recueillons auprès d’elles les données relatives à leur production ; 
                     nous menons des diagnostiques et analysons les données obtenues afin de mieux proposer des solutions pour améliorer leur production.  </p>
                <p class="pt-3 mt-3 border-top"></p>

                <p> La vulgarisation et le conseil agricoles jouent un rôle important dans le partage des résultats de la recherche et des innovations 
                    technologiques avec les exploitants familiaux.  Nous vulgarisons auprès de nos producteurs toutes avancées de technologie approuvée
                     dans le domaine agropastorale (nouvelles semences, aliment, engrais, produits phytosanitaire, pour un meilleur rendement,
                      matériels réduisant la force de travail, technologies innovantes…) afin de leur apporter l’encadrement nécessaire à l’amélioration de leur productivité et à l’accroissement de leurs revenus..  </p>
                <p class="pt-3 mt-3 border-top"></p>

                <p> L’équipe réalise des œuvres de vulgarisation originales (livres, articles, expositions...), vulgarise des travaux existants 
                    (atelier de travail et organisation de conférences...) et mène des actions de formation, de sensibilisation et de conseil. 
                    Ses projets sont souvent réalisés en partenariat avec des organismes publics ou privés..  </p>
                   <p class="pt-3 mt-3 border-top"></p>
                   
                 

            </div>
            
                <br>
        </div>


       

	</div>

	</div>
</section>







	<!-- //footer -->

	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->


{% endblock %}
