<form method="post" action="{{ path('espace_pub1_delete', {'id': espace_pub1.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ espace_pub1.id) }}">
    <button class="btn">Delete</button>
</form>
