{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}
 
{% endblock %}

{% block body %}



<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-lg-5 py-sm-3">
		<h3 class="heading mb-sm-5 mb-4 text-center"> MIEUX PRODUIRE</h3>
		<div class="row">
						<div class="col-lg-12 pl-xl-5 mt-lg-0 mt-4 about-right">
				<p> Agrinet vous accompagne lors de vos choix agronomique en vous apportant un conseil personnalisé !</p>
				<p class="pt-3 mt-3 border-top"><span class="fa fa-quote-left text-color mr-2"></span>Faite suivre votre exploitation par nos ingénieurs, recevez les conseils de nos experts afin d’améliorer votre production.</p>
			</div>


			<div class ="col-lg-4" ></div>
			<div class ="col-lg-4" ><img src="{{ asset('StyleAgrinet2/images/agridata record 2.png')}}" class="img-responsive img-for1"></div>
			<div class ="col-lg-4" ></div>
			
		</div>

		
	</div>
</section>

<!-- feedback -->
<section class="news py-5">
	<div class="container ">
	
		<div class="row">
			<div class="col-lg-6 item">
				<div class="feedback-info pt-5 pb-4 px-4 bloc1-elevage">
						{% if not app.user %}
						<h3 class="mb-3"><a href="#" data-toggle="modal"
                            aria-pressed="false" data-target="#exampleModal" data-blast="bgColor" style="color: black">Je souhaite améliorer mon élevage</a>	
						</h3>
						{% else %}

						<h3 class="mb-3"><a href="{{path('recap_elevage')}}" style="color: black">Je souhaite améliorer mon élevage</a>	
						</h3>

						{% endif %}
					
						
					<div class="feedback-grids mt-3">
						
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 item-2 mt-lg-0 mt-4">
				<div class="feedback-info pt-5 pb-4 px-4 bloc1-agricu">

						{% if not app.user %}
					<h3 class="mb-3"><a href="#" data-toggle="modal"
						aria-pressed="false" data-target="#exampleModal" data-blast="bgColor" style="color: black">Je souhaite améliorer mes cultures</a>	
					</h3>
					{% else %}
					<h3 class="mb-3"><a href="{{path('recap_culture')}}" style="color: black">Je souhaite améliorer mes cultures</a>	
					</h3>
					{% endif %}
					
					<div class="feedback-grids mt-3">
						
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</section>
<!-- //feedback -->



	<!-- //footer -->

	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->


{% endblock %}
