{% extends 'VuesAgrinet2/layout.html.twig' %}

{% block Home_title %}::acueil {% endblock %}

{% block stylesheets %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ asset('StyleAgrinet2/js/jquery-3.2.1.slim.min.js') }}"></script>
{% endblock %}

{% block body %}



<!-- banner -->
<div class="inner-banner" id="home">
	<div class="container">
	</div>
</div>
<!-- //banner -->

<section class="about py-5" id="about">
        <div class="container py-lg-5 py-sm-3">
            <h3 class="heading mb-sm-5 mb-4 text-center"> MONTAGE PROJET AGROPASTORAUX</h3>
            {% for photo in montage_pro_imgs %}
            <div class ="col-lg-12" ><img src="{{ asset('uploads/') }}{{ photo.image }}" class="img-responsive img-for1"></div>
            {% endfor %}
            <div class="row">
                <div class="col-lg-12 pl-xl-5 mt-lg-0 mt-4 about-right">
                        <p>  Vous désirez vous lancer dans l’agriculture, vous voulez avoir  une estimation des 
                                dépenses nécessaire pour la mise en place de votre exploitation, les circuits de commercialisation, l’aspect technique, les revenus attendus ; nous réalisons pour 
                                vous des business plans et des comptes d’exploitation
                                </p>

                                <br>
                            <div class="row">
                                    <div class="col-lg-6 item">
                                        
                                        <a href="#" data-toggle="modal"
                                        aria-pressed="false" data-target="#exampleModal890" data-blast="bgColor">
                                        <div class="feedback-info pt-5 pb-4 px-4 bloc1-elevage">
                                                <h3 class="mb-3">
                                                        <button class="btn btnLinkPage">CONCTACTER NOUS</button>
                                                </h3>
                                                
                                                <div class="feedback-grids mt-3">
                                                    
                                                    <div class="clearfix"> </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                   
                                
                                </div>
                   
                </div>
       
    
                    
                    
            </div>
          
    
        </div>
    
        </div>
    </section>
    {% include "VuesAgrinet2/fragment/modal_montage_projet.html.twig" %}

    {% endblock %}